.profile {
  height: calc(100vh - 58px);
  overflow: auto;
  i {
    margin-right: 8px;
  }
  mat-list-item {
    font-size: 14px !important;
    padding-left: 8px !important;
    font-weight: 500;
    color: rgba($color: #fff, $alpha: 0.87);
    &:hover {
      background-color: #2b323c;
    }
  }
  .bg-custom-dark {
    background-color: #19212b;
    height: calc(100vh - 67px);
  }
}
