<div class="container-fluid profile px-0">
  <div *ngIf="auth.user | async; then authenticated">
  </div>
  <ng-template #authenticated>
    <div class="row px-0">
      <div class="col-md-2 bg-custom-dark px-0">
        <mat-list role="list">
          <mat-list role="list">
            <mat-list-item role="listitem" [routerLink]="['thong-tin']">Thông tin cá nhân</mat-list-item>
            <mat-list-item role="listitem" [routerLink]="['lich-su']">Lịch sử khám bệnh</mat-list-item>
            <!-- <mat-list-item role="listitem">Thuốc</mat-list-item> -->
          </mat-list>
        </mat-list>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-12 px-0">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>