.container-page {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mat-sidenav {
    left: 0;
    width: 300px;
    height: calc(100vh - 58px);
    mat-nav-list {
      padding-top: 0px;
    }
  }
  mat-sidenav-container {
    mat-sidenav-content {
      height: calc(100vh - 58px);
      overflow: auto;
    }
  }
  .avt {
    width: auto;
    height: 35px;
    float: left;
  }
  .avt-user {
    border-radius: 50%;
    width: 36px;
    object-fit: cover;
    height: 36px;
    margin-right: 8px;
  }
  .dropdown-menu {
    font-size: 14px !important;
  }
  .user-dropdown {
    vertical-align: middle;
    font-size: 14px;
    line-height: 36px;
    cursor: pointer;
  }
}

.is-mobile .container-toolbar {
  position: fixed;
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .button-menu {
    display: flex;
  }
  .toggle-menu {
    display: flex;
    flex: 1 1 100%;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .item-menu {
    display: none !important;
  }
}
@media (min-width: 769px) {
  .button-menu {
    display: none;
  }
  .toggle-menu {
    flex: 1 1 40%;
    max-width: 40%;
  }
  mat-sidenav {
    display: none;
  }
  ::ng-deep .mat-drawer-shown {
    visibility: hidden;
  }
}
