<div class="container-page" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="container-toolbar" fxLayout="row">
    <div fxLayoutAlign="start center" fxFlex="auto" fxLayout="row" class="h-100">
      <div class="toggle-menu">
        <button class="button-menu" mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="/"> <img src="assets/images/logo/royal_logo_white.png" style="height: 40px;"></a>
      </div>
    </div>
    <ng-container *ngIf="auth.user | async as user">
      <div class="user h-100" fxLayoutAlign="end center" fxFlex="auto">
        <div class="item-menu h-100 mr-3" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center" fxFlex="auto">
          <button mat-button fxFlexAlign="center" class="h-100" fxLayout="row" [routerLink]="['/app/dat-lich']">
            <mat-icon>perm_contact_calendar</mat-icon>
            <span class="ml-1">Đặt lịch khám</span>
          </button>
        </div>
        <div class="user-dropdown" [matMenuTriggerFor]="userMenu" fxLayoutAlign="start center">
          <img [src]="user.photoURL" class="avt-user">
          <span>{{user.displayName}}</span>
          <mat-icon class="icon-action">arrow_drop_down</mat-icon>
        </div>
        <!-- MENU CON -->
        <mat-menu #userMenu="matMenu" [overlapTrigger]="false" xPosition="before" yPosition="below" class="dropdown">
          <button mat-menu-item [routerLink]="['/admin']" *ngIf="user.roles ==='Admin'">
            <mat-icon class="icon-action">settings</mat-icon>
            <span>Admin</span>
          </button>
          <button mat-menu-item [routerLink]="['/app/bac-si']" *ngIf="user.roles ==='Bác sĩ'">
            <mat-icon class="icon-action">settings</mat-icon>
            <span>Bác sĩ</span>
          </button>
          <button mat-menu-item [routerLink]="['/app/tai-khoan']">
            <mat-icon class="icon-action">person_outline</mat-icon>
            <span>Tài khoản</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">
            <mat-icon class="icon-action">exit_to_app</mat-icon>
            <span>Đăng xuất</span>
          </button>
        </mat-menu>
      </div>
    </ng-container>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container container-fluid px-0" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'push'">
      <mat-nav-list>
        <a mat-list-item routerLink="/app/dat-lich">
          <mat-icon class="mr-1">perm_contact_calendar</mat-icon>
          Đặt lịch
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>