<!-- <ng-container>
<div *ngFor="let department of derpartments$ | async">
  <p (click)="getDepartment(department.id)">{{department.data.name}}</p>
  <a (click)="deleteDepartment(department.id)">Xóa</a>
</div>
<input type="text" [(ngModel)]="name" name="title" placeholder="Title..">
<input type="submit" value="Add a Post" (click)="addDepartment()">

<ng-container>
  {{(derpartments$ | async | json)}}
</ng-container>
</ng-container>
<ng-template #notAdmin>
  <p>Bạn không có quyền truy cập trang này</p>
</ng-template> -->
<div class="container-fluid px-0">
  <div class="row px-0">
    <div class="col-12 bg-custom-blue p-2">
      QUẢN LÝ KHOA BỆNH VIỆN
    </div>
    <div class="col-12 pt-2 px-4" fxLayoutAlign="end center">
      <mat-chip-list>
        <mat-chip selected class="button-parent" (click)="addDepartment()">
          <span fxFlexAlign="center">
            <i class="fas fa-plus-circle"></i> Thêm khoa</span>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="col-12 px-4">
      <div>
        <mat-form-field class="w-100">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="w-100" matSort #matSort>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef  c> Tên khoa </th>
            <td mat-cell *matCellDef="let element"> {{element.data.name}} </td>
          </ng-container>
          <ng-container matColumnDef="orderNumberCurrent">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header>Số hiện tại hôm nay</th>
            <td mat-cell *matCellDef="let element"> {{element.data.orderNumberCurrent}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Hành động</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="deleteDepartment(element.id)">
                  <mat-icon>delete_forever</mat-icon>
                  <span>Xóa</span>
                </button>
                <button mat-menu-item (click)="editDepartment(element.id)">
                  <mat-icon>edit</mat-icon>
                  <span>Sửa</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #MatPaginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
      </div>
    </div>
  </div>
</div>