<mat-progress-bar mode="indeterminate" color="warn" *ngIf="isLoading"></mat-progress-bar>
<div class="col-12 bg-custom-blue p-2">
  LỊCH SỬ KHÁM BỆNH
</div>
<ng-container *ngIf="history.length > 0; else nodata">
  <div class="p-3">
    <mat-form-field class="w-100">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm">
    </mat-form-field>
    <mat-table [dataSource]="order" class="mat-elevation-z8">
      <ng-container matColumnDef="displayName">
        <mat-header-cell *matHeaderCellDef> Tên </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.displayName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Ngày </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.date | date:('dd/MM/yyyy')}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="department">
        <mat-header-cell *matHeaderCellDef> Khoa </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.department}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef> Số điện thoại </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.phoneNumber}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef> Địa chỉ </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Tình trạng </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      </ng-container> -->

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
    </mat-table>
    <mat-paginator #MatPaginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </div>
</ng-container>
<ng-template #nodata>
  <div class="text-center bg-danger">
    Chưa có lịch sử khám bệnh
  </div>
</ng-template>