.card-statistic {
    color: #FFF;
    text-align: right;
    .number {
        font-size: 34px;
    }
    margin-top: 8px;
    position: relative;
    overflow: hidden;
}

.card-new-order {
    background-color: #32c5d2;
}

.card-new-user {
    background-color: #8e44ad;
}

.card-total-user {
    background-color: #3598dc;
}

.card-total-order {
    background-color: #e7505a;
}

.visual {
    position: absolute;
    bottom: -62px;
    left: -15px;
    font-size: 110px;
    color: rgba($color: #FFF, $alpha: 0.15)
}
