<div class="container-fluid">
  <div class="row px-0 pt-3" fxLayout="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-12 pl-0">
      <mat-card class="card-new-order card-statistic">
        <div class="visual">
          <i class="far fa-calendar-plus"></i>
        </div>
        <div>
          <p class="number">{{newOrder}}</p>
          <p>Người đặt khám mới</p>
        </div>
      </mat-card>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
      <mat-card class="card-total-order card-statistic">
        <div class="visual">
          <i class="far fa-calendar-plus"></i>
        </div>
        <div>
          <p class="number">{{totalUser}}</p>
          <p>Tổng người đặt khám</p>
        </div>
      </mat-card>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
      <mat-card class="card-new-user card-statistic">
        <div class="visual">
          <i class="fas fa-user"></i>
        </div>
        <div>
          <p class="number">{{totalDepartment}}</p>
          <p>Tổng khoa bệnh viện</p>
        </div>
      </mat-card>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
      <mat-card class="card-total-user card-statistic">
        <div class="visual">
          <i class="fas fa-users"></i>
        </div>
        <div>
          <p class="number">{{totalUser}}</p>
          <p>Tổng tài khoản</p>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6 pl-0">
      <app-order-new (newOrders)="getNewOrders($event)" (totalOrders)="getTotalOrders($event)"></app-order-new>
    </div>
    <div class="col-md-6">
      <app-user-new (totalUser)="getTotalUser($event)"></app-user-new>
    </div>
  </div>
</div>