<mat-card class="card-second">
  <mat-card-header>
    <mat-card-title class="title"> <i class="icon fas fa-user"></i>Người dùng đăng ký gần
      đây</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="w-100">
      <table mat-table [dataSource]="dataSource" class="w-100">

        <ng-container matColumnDef="photoURL">
          <th mat-header-cell *matHeaderCellDef> Ảnh đại diện </th>
          <td mat-cell *matCellDef="let element"><img [src]="element?.photoURL" class="avt avt-24" /> </td>
        </ng-container>
        <ng-container matColumnDef="displayName">
          <th mat-header-cell *matHeaderCellDef> Tên người dùng </th>
          <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
        </ng-container>
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Thời gian </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>