<h1 matDialogTitle>{{data.isCreate ? 'THÊM LỊCH KHÁM ' : 'SỬA LỊCH KHÁM'}}</h1>
<form [formGroup]="checkoutForm" #f="ngForm">
  <div class="row" style="font-size: 16px !important">
    <!-- <div class="form-group">
<label for="">Họ tên</label>
<input type="text" name="" id="" class="form-control" placeholder="" formControlName="displayName">
</div> -->
    <div class="col-md-4">
      <mat-form-field class="w-100">
        <input matInput placeholder="Họ và tên" formControlName="displayName">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="w-100">
        <input matInput placeholder="Số điện thoại" formControlName="phoneNumber">
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field class="w-100">
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="w-100">
        <input matInput [max]="maxDate" [matDatepicker]="picker" placeholder="Chọn ngày sinh" formControlName="birthday"
          (click)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-2" fxLayout="column">
      <mat-radio-group fxFlex="100" fxLayoutGap="16px" fxLayoutAlign="center center" formControlName="gender">
        <mat-radio-button value="Nam">Nam</mat-radio-button>
        <mat-radio-button value="Nữ">Nữ</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <input matInput placeholder="Địa chỉ" formControlName="address">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="w-100">
        <input matInput [min]="minDate" [matDatepicker]="date" placeholder="Ngày khám bệnh" formControlName="date"
          (click)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <mat-select placeholder="Chọn khoa khám bệnh" formControlName="departmentName">
          <mat-option *ngFor="let depar of (derpartments$ | async)" [value]="depar.data.name">
            {{depar.data.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <ng-container *ngIf="!data.isCreate">
    <div class="col-md-4">
      <mat-form-field class="w-100">
        <mat-select placeholder="Trạng thái" formControlName="status">
          <mat-option value="Chờ duyệt">
            Chờ duyệt
          </mat-option>
          <mat-option value="Đã xác nhận">
            Đã xác nhận
          </mat-option>
          <mat-option value="Đã khám">
            Đã khám
          </mat-option>
          <mat-option value="Đã hủy khám">
            Đã hủy khám
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </ng-container>
    <div class="col-md-12">
      <mat-form-field>
        <textarea matTextareaAutosizes matInput placeholder="Mô tả tình trạng sức khỏe của bạn" formControlName="healthStatus"></textarea>
      </mat-form-field>
    </div>

  </div>
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
    <button type="button" mat-button (click)="onNoClick()">Hủy</button>
    <button type="submit" [disabled]="f.invalid" mat-raised-button color="primary" [mat-dialog-close]="f.value">Lưu</button>
  </div>
</form>