<div class="container-fluid px-0">
  <div class="row px-0">
    <div class="col-12 bg-custom-blue p-2">
      QUẢN LÝ NGƯỜI DÙNG
    </div>
    <div class="col-12 pt-2 px-4" fxLayoutAlign="end center">
      <mat-chip-list>
        <mat-chip selected class="button-parent" (click)="addUser()">
          <span fxFlexAlign="center">
            <i class="fas fa-plus-circle"></i> Thêm User</span>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="col-12 px-4">
      <div>
        <mat-form-field class="w-100">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="w-100">
          <ng-container matColumnDef="photoURL">
            <th mat-header-cell *matHeaderCellDef> Ảnh đại diện </th>
            <td mat-cell *matCellDef="let element"> <img [src]="element?.photoURL" class="avt avt-24" /></td>
          </ng-container>
          <ng-container matColumnDef="displayName">
            <th mat-header-cell *matHeaderCellDef> Họ Tên </th>
            <td mat-cell *matCellDef="let element"> {{element?.displayName}} </td>
          </ng-container>
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Địa chỉ</th>
            <td mat-cell *matCellDef="let element"> {{element?.address}} </td>
          </ng-container>
          <ng-container matColumnDef="birthday">
            <th mat-header-cell *matHeaderCellDef> Ngày sinh</th>
            <td mat-cell *matCellDef="let element"> {{element?.birthday | date: ('dd/MM/yyyy')}} </td>
          </ng-container>
          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> Giói tính</th>
            <td mat-cell *matCellDef="let element"> {{element?.gender}} </td>
          </ng-container>
          <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef> Số điện thoại</th>
            <td mat-cell *matCellDef="let element"> {{element?.phoneNumber}} </td>
          </ng-container>
          <ng-container matColumnDef="roles">
            <th mat-header-cell *matHeaderCellDef> Quyền hạn</th>
            <td mat-cell *matCellDef="let element"> {{element?.roles}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Hành động</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editUser(element.uid)">
                  <mat-icon>edit</mat-icon>
                  <span>Sửa</span>
                </button>
                <button mat-menu-item (click)="deleteUser(element.uid)">
                  <mat-icon>delete_forever</mat-icon>
                  <span>Xóa</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #MatPaginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
      </div>
    </div>
  </div>
</div>