<div class="container-fluid px-0">
  <div class="row px-0">
    <div class="col-12 bg-custom-blue p-2">
      QUẢN LÝ LỊCH KHÁM
    </div>
    <div class="col-12 pt-2 px-4" fxLayoutAlign="end center">
      <mat-chip-list>
        <mat-chip selected class="button-parent" (click)="addOrder()">
          <span fxFlexAlign="center">
            <i class="fas fa-plus-circle"></i> Thêm lịch khám</span>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="col-12 px-4">
      <div>
        <mat-form-field class="w-100">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="w-100">

          <!-- Name Column -->
          <ng-container matColumnDef="displayName">
            <th mat-header-cell *matHeaderCellDef> Tên bệnh nhân </th>
            <td mat-cell *matCellDef="let element"> {{element.data.displayName}} </td>
          </ng-container>
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Địa chỉ</th>
            <td mat-cell *matCellDef="let element"> {{element.data.address}} </td>
          </ng-container>
          <ng-container matColumnDef="birthday">
            <th mat-header-cell *matHeaderCellDef> Ngày sinh</th>
            <td mat-cell *matCellDef="let element"> {{element?.data.birthday | date:('dd/MM/yyyy')}} </td>
          </ng-container>
          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> Giói tính</th>
            <td mat-cell *matCellDef="let element"> {{element.data.gender}} </td>
          </ng-container>
          <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef> Số điên thoại</th>
            <td mat-cell *matCellDef="let element"> {{element.data.phoneNumber}} </td>
          </ng-container>
          <ng-container matColumnDef="orderNumber">
            <th mat-header-cell *matHeaderCellDef> Số thứ tự</th>
            <td mat-cell *matCellDef="let element"> {{element.data.orderNumber}} </td>
          </ng-container>
          <ng-container matColumnDef="dateOrder">
            <th mat-header-cell *matHeaderCellDef> Ngày đặt lịch</th>
            <td mat-cell *matCellDef="let element"> {{element?.data.dateOrder | date:('dd/MM/yyyy')}} </td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Ngày khám</th>
            <td mat-cell *matCellDef="let element"> {{element?.data.date | date:('dd/MM/yyyy')}} </td>
          </ng-container>
          <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef> Khoa</th>
            <td mat-cell *matCellDef="let element"> {{element.data.department}} </td>
          </ng-container>
          <ng-container matColumnDef="healthStatus">
            <th mat-header-cell *matHeaderCellDef> Tình trạng sức khỏe</th>
            <td mat-cell *matCellDef="let element"  style="max-width: 200px"> {{element.data.healthStatus}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Trạng thái</th>
            <td mat-cell *matCellDef="let element">
              <ng-container [ngSwitch]="element.data.status">
                <p class="" *ngSwitchCase="'Chờ duyệt'">Chờ duyệt</p>
                <p class="text-primary" *ngSwitchCase="'Đã xác nhận'">{{element.data.status}} </p>
                <p class="text-success" *ngSwitchCase="'Đã khám'">{{element.data.status}} </p>
                <p class="text-danger" *ngSwitchCase="'Đã hủy khám'">{{element.data.status}} </p>
              </ng-container>
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Hành động</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="changeStatus('confirmed', element.id)">
                  <mat-icon>add_circle</mat-icon>
                  <span>Xác nhận</span>
                </button>
                <button mat-menu-item (click)="changeStatus('completed',element.id)">
                  <mat-icon>check_circle_outline</mat-icon>
                  <span>Đã khám</span>
                </button>
                <button mat-menu-item (click)="changeStatus('canceled', element.id)">
                  <mat-icon>highlight_off</mat-icon>
                  <span>Hủy khám</span>
                </button>
                <button mat-menu-item (click)="editOrder(element.id)">
                  <mat-icon>edit</mat-icon>
                  <span>Sửa</span>
                </button>
                <button mat-menu-item (click)="deleteOrder(element.id)">
                  <mat-icon>delete_forever</mat-icon>
                  <span>Xóa</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #MatPaginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
      </div>
    </div>
  </div>
</div>