.title {
    font-weight: 400;
    margin-right: 8px;
}

.detail {
    font-weight: 500;
}

mat-card {
    // border-radius: 5px;
    text-align: justify;
    height: 220px;
}

.container-info {
    padding: 16px 35px;
    .order-current {}
    p {
        margin-top: 4px;
    }
    th,
    td {
        padding: 2px 4px;
    }
    th:first-child, td:first-child {
        padding-left: 24px;
    }
}