<!-- {{departmentUser | json}} -->
<div class="col-12 bg-custom-blue p-2">
    {{departmentUser?.data.name}}
</div>
<div class="container-info">
    <ng-container *ngIf="orderCurrent && orderCurrent[0]; else nodata">
        <div class="row">
            <div class="col-md-3 order-current">
                <p class="text-center">Số thứ tự hiện tại</p>
                <p style="font-size: 120px;" class="w-100 text-center"> {{(orderCurrent[0].data.orderNumber <= 10) ? '0'
                        + orderCurrent[0].data.orderNumber : orderCurrent[0].data.orderNumber}}</p> <div fxLayoutAlign="center center"
                        fxLayoutGap="16px">
                        <button mat-raised-button class="btn-success btn-custom" (click)="updateOrder(statusOrder.completed, orderCurrent[0].id)">Hoàn
                            thành</button>
                        <button mat-raised-button color="warn" class="btn-custom" (click)="updateOrder(statusOrder.ignore, orderCurrent[0].id)">Bỏ
                            qua</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="px-2 w-100">
                    <img class="avt avt-96" style="shape-outside: circle(); float: left; margin-right: 16px;" [src]="(orderCurrent[0].data.photoURL) ? (orderCurrent[0].data.photoURL) : '/assets/images/core/default-user-avt.jpg'">
                    <p>
                        <span class="title">Tên bệnh nhân: </span>
                        <span class="detail">{{orderCurrent[0]?.data.displayName}}</span>
                    </p>
                    <p>
                        <span class="title">Giới tính: </span>
                        <span class="detail">{{orderCurrent[0]?.data.gender}}</span>
                    </p>
                    <p>
                        <span class="title">Địa chỉ: </span>
                        <span class="detail">{{orderCurrent[0]?.data.address}}</span>
                    </p>
                    <p>
                        <span class="title">Số thứ tự: </span>
                        <span class="detail">{{orderCurrent[0]?.data.orderNumber}}</span>
                    </p>
                    <p>
                        <span class="title">Mô tả: </span>
                        <span class="detail">{{orderCurrent[0]?.data.healthStatus}}</span>
                    </p>
                </div>
                <div class="clearfix mt-4"></div>
                <!-- <p class="text-justify">{{orderCurrent[1].data.healthStatus}}</p> -->
            </div>
        </div>
</div>
</ng-container>
<ng-template #nodata>Không có khách hàng</ng-template>
<div>
    <h3 class="w-100 text-center">Danh sách khách hàng của ngày hôm nay</h3>
    <mat-form-field class="w-100">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="w-100">

        <!-- Name Column -->
        <ng-container matColumnDef="displayName">
            <th mat-header-cell *matHeaderCellDef> Tên bệnh nhân </th>
            <td mat-cell *matCellDef="let element"> {{element.data.displayName}} </td>
        </ng-container>
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Địa chỉ</th>
            <td mat-cell *matCellDef="let element"> {{element.data.address}} </td>
        </ng-container>
        <ng-container matColumnDef="birthday">
            <th mat-header-cell *matHeaderCellDef> Ngày sinh</th>
            <td mat-cell *matCellDef="let element"> {{element?.data.birthday | date:('dd/MM/yyyy')}} </td>
        </ng-container>
        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> Giới tính</th>
            <td mat-cell *matCellDef="let element"> {{element.data.gender}} </td>
        </ng-container>
        <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef> Số điện thoại</th>
            <td mat-cell *matCellDef="let element"> {{element.data.phoneNumber}} </td>
        </ng-container>
        <ng-container matColumnDef="orderNumber">
            <th mat-header-cell *matHeaderCellDef> Số thứ tự</th>
            <td mat-cell *matCellDef="let element"> {{element.data.orderNumber}} </td>
        </ng-container>
        <ng-container matColumnDef="healthStatus">
            <th mat-header-cell *matHeaderCellDef> Tình trạng sức khỏe</th>
            <td mat-cell *matCellDef="let element" style="max-width: 200px"> {{element.data.healthStatus}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Trạng thái</th>
            <td mat-cell *matCellDef="let element">
                <ng-container [ngSwitch]="element.data.status">
                    <p class="" *ngSwitchCase="'Chờ duyệt'">Chờ duyệt</p>
                    <p class="text-primary" *ngSwitchCase="'Đã xác nhận'">{{element.data.status}} </p>
                    <p class="text-success" *ngSwitchCase="'Đã khám'">{{element.data.status}} </p>
                    <p class="text-danger" *ngSwitchCase="'Đã hủy khám'">{{element.data.status}} </p>
                </ng-container>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #MatPaginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
</div>
<!-- {{orderCurrent[0] | json}} -->