<ng-container *ngIf="auth.user | async as user">
  <div class="col-12 bg-custom-blue p-2">
   
  </div>
  <div class="row" fxLayoutAlign="center start">
    <div class="col-12 px-5 py-2">
      <mat-card>
        <mat-card-content>
          <form [formGroup]="updateInfoForm" (ngSubmit)="updateInfo()" #f="ngForm">
            <input matInput formControlName="uid" style="display:none">
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Tên" formControlName="displayName" required>
                </mat-form-field>

              </div>
              <div class="col-md-4">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Email" disabled formControlName="email" required>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Số điện thoại" value="{{user.phoneNumber}}" formControlName="phoneNumber" required>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="w-100">
                  <input matInput [max]="maxDate" [matDatepicker]="picker" placeholder="Chọn ngày sinh" formControlName="birthday" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-radio-group fxFlex="100" fxLayoutGap="16px" fxLayoutAlign="center center" formControlName="gender" required>
                  <mat-radio-button value="Nam">Nam</mat-radio-button>
                  <mat-radio-button value="Nữ">Nữ</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-md-7">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Địa chỉ" formControlName="address" required>
                </mat-form-field>
              </div>
              <div class="col-md-3" fxLayoutGap="8px">
                <p>Ảnh đại diện</p>
                <img [src]="user.photoURL" width="40" class="avt avt-48">
                <input type="file" (change)="uploadFile($event)" />
                <mat-progress-bar *ngIf="uploadPercent" mode="determinate" [value]="uploadPercent | async"></mat-progress-bar>
                <div>{{ uploadPercent | async }}</div>
              </div>
              <div class="col-md-12 mt-2">
                <button class="btn-custom" mat-flat-button color="primary" [disabled]="f.invalid">Cập
                  nhật</button>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-container>