<mat-card class="card-second">
  <mat-card-header>
    <mat-card-title class="title"><i class="icon far fa-calendar-plus"></i> Người đặt lịch khám gần đây</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="w-100">
      <table mat-table [dataSource]="dataSource" class="w-100">

        <ng-container matColumnDef="displayName">
          <th mat-header-cell *matHeaderCellDef> Họ và tên </th>
          <td mat-cell *matCellDef="let element"> {{element.data.displayName}} </td>
        </ng-container>
        <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef> Khoa </th>
            <td mat-cell *matCellDef="let element"> {{element.data.department}} </td>
          </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
          <td mat-cell *matCellDef="let element"> {{element.data.status}} </td>
        </ng-container>

        <ng-container matColumnDef="dateOrder">
          <th mat-header-cell *matHeaderCellDef> Thời gian </th>
          <td mat-cell *matCellDef="let element"> {{element.data.dateOrder}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>