<form novalidate #f="ngForm">
    <h1 matDialogTitle>SỬA KHOA</h1>
    <div mat-dialog-content>
      <mat-form-field class="w-100">
        <input matInput placeholder="Tên khoa" [(ngModel)]="data.label" name="department" maxlength="255" required>
      </mat-form-field>
      <mat-form-field class="w-100">
          <input matInput placeholder="Số hiện tại" [(ngModel)]="data.number" name="number" maxlength="5" required>
        </mat-form-field>
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
      <button type="button" mat-button (click)="onNoClick()">Hủy</button>
      <button type="submit" [disabled]="f.invalid" mat-raised-button color="primary" [mat-dialog-close]="f.value">Lưu</button>
    </div>
  </form>