<h1 matDialogTitle>{{data.title}}</h1>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button type="button" mat-button (click)="onNoClick()">Hủy</button>
  <button type="submit" mat-raised-button color="warn"  (click)="onCloseDialog(true)">Xóa</button>
</div>