<ng-container>
  <div class="container-page" [class.is-mobile]="mobileQuery.matches" *ngIf="auth.user">
    <mat-toolbar color="primary" class="container-toolbar" fxLayout="row">
      <div fxLayoutAlign="start center" fxFlex="auto" fxLayout="row" class="h-100">
        <div class="toggle-menu">
          <button class="button-menu" mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <a routerLink="/"> <img src="assets/images/logo/royal_logo_white.png" style="height: 40px;"></a>
        </div>
      </div>
      <ng-container *ngIf="auth.user | async as user">
        <div class="user h-100" fxLayoutAlign="end center" fxFlex="auto">
          <div class="item-menu h-100 mr-3" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center" fxFlex="auto">
            <button mat-button fxFlexAlign="center" class="h-100" fxLayout="row" [routerLink]="['/app/dat-lich']">
              <mat-icon>perm_contact_calendar</mat-icon>
              <span class="ml-1">Đặt lịch khám</span>
            </button>
          </div>
          <div class="user-dropdown" [matMenuTriggerFor]="userMenu" fxLayoutAlign="start center">
            <img [src]="user.photoURL" class="avt-user">
            <span >{{user.displayName}}</span>
            <mat-icon class="icon-action">arrow_drop_down</mat-icon>
          </div>
          <!-- MENU CON -->
          <mat-menu #userMenu="matMenu" [overlapTrigger]="false" xPosition="before" yPosition="below" class="dropdown">
            <button mat-menu-item [routerLink]="['/admin']" *ngIf="user.roles === 'Admin'">
              <mat-icon class="icon-action">settings</mat-icon>
              <span>Admin</span>
            </button>
            <button mat-menu-item [routerLink]="['/app/tai-khoan']">
              <mat-icon class="icon-action">person_outline</mat-icon>
              <span>Tài khoản</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">
              <mat-icon class="icon-action">exit_to_app</mat-icon>
              <span>Đăng xuất</span>
            </button>
          </mat-menu>
        </div>
      </ng-container>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'push'">
        <mat-nav-list>
          <a mat-list-item routerLink="/app/dat-lich">
            <mat-icon class="mr-1">perm_contact_calendar</mat-icon>
            Đặt lịch
          </a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="row">
          <div class="col-md-2 bg-custom-dark px-0">
            <mat-list role="list">
              <mat-list-item role="listitem" [routerLink]="['thong-ke']"><i class="fas fa-chart-pie"></i> Thống kê</mat-list-item>
              <mat-list-item role="listitem" [routerLink]="['lich-kham']"> <i class="fas fa-briefcase-medical"></i>
                Quản
                lý lịch khám</mat-list-item>
              <mat-list-item [routerLink]="['nguoi-dung']" role="listitem"><i class="fas fa-users"></i> Quản lý người
                dùng</mat-list-item>
              <mat-list-item role="listitem" [routerLink]="['khoa']">
                <i class="fas fa-hospital-symbol"></i>
                <p>Quản lý khoa</p>
              </mat-list-item>
            </mat-list>
          </div>
          <div class="col-md-10" style="background-color: #eef1f5;">
            <div class="row">
              <div class="col-12">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</ng-container>
<ng-template #notAdmin>
  <p class="text-danger text-center"> Bạn không có quền truy cập trang này</p>
</ng-template>