<ng-container *ngIf="user; else guest">
  Bạn đã đăng nhập rồi!
  <a routerLink="/app/tai-khoan">Về trang chủ</a>
</ng-container>
<ng-template #guest>
  <div class="login-container">
    <div class="col-sm-5 m-auto">
      <mat-card class="p-4">
        <mat-progress-bar *ngIf="auth.isLoading" mode="indeterminate" style="position: absolute; top: 0px; width: 100%; z-index: 9999"></mat-progress-bar>
        <h3 class="text-center">Đăng nhập</h3>
        <mat-card-content>
          <ng-container>
            <div *ngIf="!windowRef.confirmationResult">

              <mat-form-field class="w-100">
                <span matPrefix>
                  <mat-icon class="icon-action">phone</mat-icon> &nbsp;
                </span>
                <input type="number" matInput placeholder="Nhập số điện thoại" [(ngModel)]="userPhone" id="phone"
                  required maxlength="15" minlength="9" #phoneNum="ngModel">
                <mat-error>Vui lòng nhập số điện thoại</mat-error>
              </mat-form-field>
              <div id="recaptcha-container" class="text-center mx-auto"></div>
              <div class="text-center mt-2">
                <button color="primary" [disabled]="phoneNum.invalid" mat-raised-button (click)="sendLoginCode()">Gửi
                  mã</button>
              </div>
            </div>
            <ng-container *ngIf="windowRef.confirmationResult">
              <div>
               
                <mat-form-field class="w-100">
                  <input type="tel" matInput placeholder="Nhập mã xác thực" [(ngModel)]="verificationCode" id="code"
                    required maxlength="6" minlength="6" #code="ngModel">
                  <mat-error>Vui lòng nhập mã</mat-error>
                </mat-form-field>
                <div class="text-center">
                  <button (click)="verifyLoginCode()" mat-raised-button color="primary" [disabled]="code.invalid">Xác
                    thực</button>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <div>
            <p class="text-center mt-2">Hoặc đăng nhập với</p>
            <div class="icon-social" fxLayout="row" fxLayoutAlign="center center">
              <div class="login-social bg1" (click)="auth.facebookLogin()">
                <i class="fab fa-facebook-f"></i>
              </div>

              <div class="login-social bg2">
                <i class="fab fa-twitter"></i>
              </div>

              <div class="login-social bg3" (click)="auth.googleLogin()">
                <i class="fab fa-google"></i>
              </div>
            </div>
          </div>

          <!-- <mat-tab-group headerPosition="below" fxFlex="100">
            <mat-tab label="ĐĂNG NHẬP">
                <h3 class="text-center">{{!isForgot ? 'Đăng nhập' : 'Lấy lại mật khẩu'}}</h3>
              <mat-tab-group>
                <mat-tab label="Số điện thoại">
              
                </mat-tab>
                <mat-tab label="Email">
                  <ng-container *ngIf="!isForgot">
                    <form class="form-login" [formGroup]="loginWithEmailForm" (ngSubmit)="loginWithEmail()">
                      <mat-form-field>
                        <span matPrefix>
                          <mat-icon class="icon-action">person</mat-icon> &nbsp;
                        </span>
                        <input type="email" matInput placeholder="Nhập email" formControlName="email" id="email"
                          required maxlength="30" minlength="5">
                        <mat-error>Vui lòng nhập email</mat-error>
                      </mat-form-field>
                      <mat-form-field>
                        <span matPrefix>
                          <mat-icon class="icon-action">lock</mat-icon> &nbsp;
                        </span>
                        <input formControlName="password" [type]="hide ? 'password' : 'text'" matInput placeholder="Nhập mật khẩu"
                          required>
                        <mat-error>Vui lòng nhập mật khẩu</mat-error>
                        <mat-icon matSuffix (click)="hide = !hide" class="icon-action">{{hide ? 'visibility' :
                          'visibility_off'}}</mat-icon>
                      </mat-form-field>

                      <div>
                        <div fxFlex="100" fxLayout="row">
                          <p fxFlex="50" fxLayoutAlign="start center"></p>
                          <p fxFlex="50" fxLayoutAlign="end center"><a (click)="isForgot = !isForgot">Quên mật khẩu?</a></p>
                        </div>
                      </div>
                      <div fxLayoutAlign="center center">
                        <button mat-raised-button color="primary" [disabled]="loginWithEmailForm.status === 'INVALID'">Đăng
                          nhập</button>
                      </div>
                    </form>
                  </ng-container>
                  <ng-container *ngIf="isForgot">
                   
                    <form #f="ngForm">
                      <mat-form-field class="w-100">
                        <span matPrefix>
                          <mat-icon class="icon-action">person</mat-icon> &nbsp;
                        </span>
                        <input type="email" matInput placeholder="Nhập email" [(ngModel)]="emailUser" [ngModelOptions]="{standalone: true}"
                          id="email-forgot" required maxlength="30" minlength="5">
                        <mat-error>Vui lòng nhập email</mat-error>
                      </mat-form-field>
                      <div class="text-center" fxLayoutGap="8px">
                        <button color="primary" [disabled]="f.invalid" mat-raised-button (click)="auth.forgotPassword(emailUser)">Gửi</button>
                        <button mat-raised-button (click)="isForgot = !isForgot">Hủy</button>
                      </div>
                    </form>
                  </ng-container>
                </mat-tab>
              </mat-tab-group>

              <div>
                <p class="text-center mt-2">Hoặc đăng nhập với</p>
                <div class="icon-social" fxLayout="row" fxLayoutAlign="center center">
                  <div class="login-social bg1" (click)="auth.facebookLogin()">
                    <i class="fab fa-facebook-f"></i>
                  </div>

                  <div class="login-social bg2">
                    <i class="fab fa-twitter"></i>
                  </div>

                  <div class="login-social bg3" (click)="auth.googleLogin()">
                    <i class="fab fa-google"></i>
                  </div>
                </div>
              </div>

            </mat-tab>
            <mat-tab label="ĐĂNG KÝ">
              <h3 class="text-center">Đăng ký</h3>
              <form class="form-login" [formGroup]="signUpWithEmailForm" (ngSubmit)="signUp()" novalidate>
                <mat-form-field>
                  <span matPrefix>
                    <mat-icon class="icon-action">person</mat-icon> &nbsp;
                  </span>
                  <input type="email" matInput placeholder="Nhập email" formControlName="email" id="email" required
                    maxlength="40" minlength="5">
                  <mat-error>Vui lòng nhập email</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <span matPrefix>
                    <mat-icon class="icon-action">lock</mat-icon> &nbsp;
                  </span>
                  <input formControlName="password" [type]="hide ? 'password' : 'text'" matInput placeholder="Nhập mật khẩu"
                    required maxlength="20" minlength="6">
                  <mat-error>Vui lòng nhập mật khẩu</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <span matPrefix>
                    <mat-icon class="icon-action">info</mat-icon> &nbsp;
                  </span>
                  <input formControlName="displayName" type="text" matInput placeholder="Nhập tên của bạn" required
                    maxlength="40" minlength="3">
                  <mat-error>Vui lòng nhập tên của bạn</mat-error>
                </mat-form-field>
                <div fxLayoutAlign="center center">
                  <button mat-raised-button color="primary" [disabled]="signUpWithEmailForm.status === 'INVALID'">Đăng
                    ký</button>
                </div>
                <div>
                  <p class="text-center mt-2">Hoặc đăng nhập với</p>
                  <div class="icon-social" fxLayout="row" fxLayoutAlign="center center">
                    <div class="login-social bg1" (click)="auth.facebookLogin()">
                      <i class="fab fa-facebook-f"></i>
                    </div>

                    <div class="login-social bg2">
                      <i class="fab fa-twitter"></i>
                    </div>

                    <div class="login-social bg3" (click)="auth.googleLogin()">
                      <i class="fab fa-google"></i>
                    </div>
                  </div>
                </div>
              </form>
            </mat-tab>
          </mat-tab-group> -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-template>