.login-container {
  display: flex;
  height: 100%;
  background-image: url("/assets/images/core/background-login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  ::ng-deep .mat-tab-label {
    width: 50%;
  }
  .bg-reser{
    background-image: url("/assets/images/core/background-login.jpg");
    background-size: cover;
  }
  .mat-card {
    padding: 0px;
  }
  ::ng-deep .mat-tab-body {
    padding: 24px !important;
  }
  .form-login {
    mat-form-field {
      width: 100%;
      ::ng-deep .mat-form-field-prefix,
      ::ng-deep .mat-form-field-suffix {
        top: 4px;
      }
    }
    mat-chip {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
  p {
    font-weight: 500;
    margin: 0;
  }
  .icon-social {
    .login-social {
      cursor: pointer;
      font-size: 16px;
      color: #fff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 5px;
    }
    .bg1 {
      background-color: #3b5998;
    }
    .bg2 {
      background-color: #1da1f2;
    }
    .bg3 {
      background-color: #ea4335;
    }
  }
  mat-icon {
    cursor: pointer;
  }
  button {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 999px;
  }
}
