<form >
  <!-- {{filteredBanks | async | json}} -->
  <h1 matDialogTitle>Thêm khoa khám bệnh</h1>
  <div mat-dialog-content>
    <mat-form-field class="w-100">
      <input matInput placeholder="Tên khoa" [formControl]="label" name="department" maxlength="255" required>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-select placeholder="Chọn bác sĩ" [formControl]="doctorValue" multiple>
        <mat-select-trigger>
          {{doctorValue.value ? doctorValue.value[0]?.displayName : ''}}
          <span *ngIf="doctorValue.value?.length > 1" class="example-additional-selection">
            (+{{doctorValue.value.length - 1}} {{doctorValue.value?.length === 2 ? 'người khác' : 'người khác'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let doctor of doctors" [value]="doctor">{{doctor.displayName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button type="button" mat-button mat-dialog-close>Hủy</button>
    <button type="submit" mat-raised-button color="primary" [mat-dialog-close]="onSubmit()">Lưu</button>
  </div>
</form>