<form novalidate #f="ngForm" [formGroup]="updateInfoForm">
  <h1 matDialogTitle>SỬA NGƯỜI DÙNG</h1>
  <div style="overflow:hidden">
    <div class="row">
      <div class="col-md-3">
        <mat-form-field class="w-100">
          <input matInput placeholder="Tên" formControlName="displayName" required>
          <mat-error>Vui lòng nhập Tên</mat-error>
        </mat-form-field>

      </div>
      <div class="col-md-3">
        <mat-form-field class="w-100">
          <input matInput placeholder="Email" type="email" disabled formControlName="email" required>
          <mat-error>Vui lòng nhập Email</mat-error>
        </mat-form-field>
      </div>
      <ng-container *ngIf="data.isCreate">
        <div class="col-md-3">
          <mat-form-field class="w-100">
            <input matInput placeholder="Mật khẩu" type="password" formControlName="password" required>
            <mat-error>Vui lòng nhập mật khẩu</mat-error>
          </mat-form-field>

        </div>
      </ng-container>
      <div class="col-md-3">
        <mat-form-field class="w-100">
          <input type="text" matInput placeholder="Số điện thoại" formControlName="phoneNumber" required>
          <mat-error>Vui lòng nhập số điện thoại</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="w-100">
          <input matInput [max]="maxDate" [matDatepicker]="picker" placeholder="Chọn ngày sinh" formControlName="birthday"
           c>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>Vui lòng chọn ngày sinh</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field class="w-100">
          <input matInput placeholder="Địa chỉ" formControlName="address" required>
          <mat-error>Vui lòng nhập địa chỉ</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-radio-group fxFlex="100" fxLayoutGap="16px" fxLayoutAlign="center center" formControlName="gender">
          <mat-radio-button value="Nam">Nam</mat-radio-button>
          <mat-radio-button value="Nữ">Nữ</mat-radio-button>
        </mat-radio-group>
      </div>
      <ng-container *ngIf="!data.isCreate">
        <div class="col-md-3">
          <mat-form-field>
            <mat-select placeholder="Chọn chức vụ" formControlName="roles">
              <mat-option value='Thành viên'>
                Thành viên
              </mat-option>
              <mat-option value='Bác sĩ'>
                Bác sĩ
              </mat-option>
              <mat-option value='Admin'>
                Admin
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
      <button type="button" mat-button (click)="onNoClick()">Hủy</button>
      <button type="submit" [disabled]="f.invalid" mat-raised-button color="primary" [mat-dialog-close]="f.value">Lưu</button>
    </div>
  </div>
</form>