#wrapper {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

.subheader-left p {
    margin-left: -30%;
}

.subheader-right {
    padding-left: 10% !important;
}

.subheader {
    width: 100%;
    padding: 0;
    z-index: 40;
    height: 40px;
    margin: 0;
    background: #fff;
    position: absolute;
    font-size: 12px;
    align-items: center;
}

.subheader {
    margin-top: .2rem;
    margin-bottom: .5rem;
    font-weight: normal;
    line-height: 1.4;
    color: #8a8a8a;
}

.header {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 15px 0;
    user-select: none;
    -moz-transition: background .25s cubic-bezier(0.25, 0.8, 0.25, 1), padding .25s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: background .25s cubic-bezier(0.25, 0.8, 0.25, 1), padding .25s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: background .25s cubic-bezier(0.25, 0.8, 0.25, 1), padding .25s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: background .25s cubic-bezier(0.25, 0.8, 0.25, 1), padding .25s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.header {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 15px 0;
    user-select: none;
    -moz-transition: background .25s cubic-bezier(0.25, 0.8, 0.25, 1), padding .25s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: background .25s cubic-bezier(0.25, 0.8, 0.25, 1), padding .25s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: background .25s cubic-bezier(0.25, 0.8, 0.25, 1), padding .25s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: background .25s cubic-bezier(0.25, 0.8, 0.25, 1), padding .25s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.header.style2 .columns {
    justify-content: space-between;
}

.header .row .columns {
    display: flex;
    align-items: center;
}

.header:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
}

.logolink .logoimg {
    max-height: 40px;
}

.logo-holder img {
    height: 40px;
    margin-top: 5%;
    margin-left: -5%;
}

.menu {
    padding-top: 3%;
    height: 200px;
}

.title-hello h6 {
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 10px;
    font-weight: 600;
    color: #929292;
    text-transform: uppercase;
}

#full-menu {
    padding-left: 55px;
    margin-left: -38%;
}

#full-menu li {
    display: inline-block;
    width: auto;
    height: 40px;
    line-height: 40px;
    margin-left: 46px;
}

#full-menu ul {
    margin-top: 4%;
    list-style-type: none;
    overflow: hidden;
    width: 100%;
}

#full-menu a {
    text-decoration: none;
    display: block;
}

.menu-footer li {
    display: inline-block;
}

.bg-img {
    background-image: url('/assets/images/bg-img.png') !important;
    background-position: center;
    position: relative;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 500px;
    padding: 10% 10% 10% 0%;
}

.infor-avatar h5 {
    color: #3d464f;
    margin-bottom: 5%;
}

.btn-more:before,
.btn-more:after {
    background: rgba(73, 206, 251, 0.4);
}

.btn-more:before,
.btn-more:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 16px;
    width: 28%;
}

.btn-more a {
    color: #23c8de;
}

.btn-more a:hover {
    text-decoration: none;
    color: #23c8de;
}

.btn-more:hover:after {
    background: #24c8df;
    transform-origin: left center;
}

.infor-avatar p {
    color: #6b737b;
    text-align: left;
}

.about-infor {
    margin-top: 10%;
}

.img-about img {
    width: 100%;
    height: 600px;
}

.big-infor img {
    width: 54px;
    height: 60px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.content-about {
    margin-left: 25%;
    width: 475px;
}

.content-about h2 {
    font-size: 48px;
}

.content-about p {
    margin-top: 10%;
    line-height: 1.6;
    font-size: 18px;
}

.content-about ul {
    list-style-type: none;
}

.content-about ul li i {
    color: #23c8de;
    padding-right: 3%;
}

.department-part {
    margin-top: 10%;
    margin-bottom: 1%;
    text-align: center;
}

.department-part-infor {
    font-size: 18px;
    text-align: center;
}

.department-img img {
    width: 100%;
    object-fit: cover;
}

.department-details-infor h5 {
    margin-top: 5%;
    margin-bottom: 5%;
    color: black;
}

.department-details-infor h5 a {
    color: black;
}

.department-details-infor a:hover {
    color: black;
}

.department-details-infor p {
    text-align: left;
    font-size: 14px;
}

.department-details-infor span {
    font-size: 12px;
}

.btn-xemkhoa {
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
}

.control {
    text-align: center;
    margin-bottom: 4%;
}

.control button {
    font-weight: bold;
    background-color: white;
    border: none;
}

.control button:hover {
    color: #23c8de;
}

.active {
    color: #23c8de;
}

.meet-doctors {
    text-align: center;
}

.meet-doctors h3 {
    margin-top: 5%;
    margin-bottom: 2%;
    line-height: 1.3;
    font-weight: 600;
}

.meet-doctors p {
    color: #6b737b;
}

.meet-doctors-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.meet-doctors-details-infor {
    text-align: center;
}

.whychose-infor {
    margin-top: 10%;
}

.img-whychose img {
    max-width: 100%;
}

.content-whychose {
    padding-top: 20%;
}

.content-whychose h6,
p,
span {
    text-align: center;
}

.content-whychose h6 {
    margin-bottom: 10%;
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 10px;
    font-weight: 600;
    color: #929292;
    text-transform: uppercase;
}

.content-whychose p {
    font-size: 35px;
    font-weight: 500;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 5px;
    margin-top: 2%;
}

.grid-container img {
    width: 186px;
    height: 121px;
    opacity: 0.6;
}

.grid-container img:hover {
    opacity: 1;
}

footer {
    margin-top: 10%;
}

.btn-xemthem button {
    background-color: #23c8de;
    border: none;
    width: 227px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 300px;
    color: white;
    margin-top: 5%;
}

.btn-xemthem button:hover {
    background-color: #21bace;
}

.feature h6 {
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 10px;
    font-weight: 600;
    color: #929292;
    text-transform: uppercase;
}

.feature h2 {
    font-size: 34px;
    line-height: 1.3;
    margin-bottom: 20px;
    color: #23deb4;
    font-weight: 600;
}

.feature p {
    color: #3d464f;
    font-size: 16px;
    line-height: 1.6;
}

.feature button {
    border: none;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 300px;
    color: white;
    background: linear-gradient( -135deg, #23deb4, #23deb4);
}

/*css them*/

.row .subheader-left {
    background: #f5f5f5;
}

.row .subheader-right {
    background: #f5f5f5;
}

.socials i {
    color: #3d464f;
}

.menu {
    padding: 0;
    height: 170px;
}

.align-middle {
    border-bottom: 1px solid #ddd !important;
}

.title-hello h6 {
    font-size: 150%;
}

.bg-img h3 {
    font-size: 280%;
}

.col-lg-4:nth-child(1) {
    border-top: 3px solid #2a58f0
}

.col-lg-4:nth-child(2) {
    border-top: 3px solid #43a3f5
}

.col-lg-4:nth-child(3) {
    border-top: 3px solid #23c8de
}

.about-infor {
    background: #f1fafb;
}

.content-about {
    margin-left: 12%;
}

.row4 .col-lg-4 {
    border: 0;
}

.col-lg-12.control {
    border-bottom: 1px solid #9999;
    padding: 10px 0 10px 0;
}

.control button {
    background: transparent;
}

.row5 .col-lg-4 {
    border: 0;
    max-width: 25%;
}

.whychose-infor {
    background: #f7f7f7;
}

.row6 .col-lg-4 {
    border: 0;
}

footer {
    background: #f5f5f5;
}

.phonering-alo-phone {
    position: fixed;
    visibility: hidden;
    background-color: transparent;
    width: 200px;
    height: 200px;
    cursor: pointer;
    z-index: 200000 !important;
    right: 150px;
    bottom: -50px;
    left: -50px;
    display: block;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transition: visibility .5s;
}

.phonering-alo-phone.phonering-alo-show {
    visibility: visible
}

.phonering-alo-phone.phonering-alo-static {
    opacity: .6
}

.phonering-alo-phone.phonering-alo-hover,
.phonering-alo-phone:hover {
    opacity: 1
}

.phonering-alo-ph-circle {
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: .1;
    -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

.phonering-alo-phone.phonering-alo-active .phonering-alo-ph-circle {
    -webkit-animation: phonering-alo-circle-anim 1.1s infinite ease-in-out !important;
    animation: phonering-alo-circle-anim 1.1s infinite ease-in-out !important
}

.phonering-alo-phone.phonering-alo-static .phonering-alo-ph-circle {
    -webkit-animation: phonering-alo-circle-anim 2.2s infinite ease-in-out !important;
    animation: phonering-alo-circle-anim 2.2s infinite ease-in-out !important
}

.phonering-alo-phone.phonering-alo-hover .phonering-alo-ph-circle,
.phonering-alo-phone:hover .phonering-alo-ph-circle {
    border-color: #00aff2;
    opacity: .5
}

.phonering-alo-phone.phonering-alo-green.phonering-alo-hover .phonering-alo-ph-circle,
.phonering-alo-phone.phonering-alo-green:hover .phonering-alo-ph-circle {
    border-color: #272d6b;
    opacity: .5
}

.phonering-alo-phone.phonering-alo-green .phonering-alo-ph-circle {
    border-color: #00aff2;
    opacity: .5
}

.phonering-alo-phone.phonering-alo-gray.phonering-alo-hover .phonering-alo-ph-circle,
.phonering-alo-phone.phonering-alo-gray:hover .phonering-alo-ph-circle {
    border-color: #ccc;
    opacity: .5
}

.phonering-alo-phone.phonering-alo-gray .phonering-alo-ph-circle {
    border-color: #75eb50;
    opacity: .5
}

.phonering-alo-ph-circle-fill {
    width: 100px;
    height: 100px;
    top: 50px;
    left: 50px;
    position: absolute;
    background-color: #000;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

.phonering-alo-phone.phonering-alo-active .phonering-alo-ph-circle-fill {
    -webkit-animation: phonering-alo-circle-fill-anim 1.7s infinite ease-in-out !important;
    animation: phonering-alo-circle-fill-anim 1.7s infinite ease-in-out !important
}

.phonering-alo-phone.phonering-alo-static .phonering-alo-ph-circle-fill {
    -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out !important;
    animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out !important;
    opacity: 0 !important
}

.phonering-alo-phone.phonering-alo-hover .phonering-alo-ph-circle-fill,
.phonering-alo-phone:hover .phonering-alo-ph-circle-fill {
    background-color: rgba(39, 45, 107, 0.5);
    opacity: .75 !important
}

.phonering-alo-phone.phonering-alo-green.phonering-alo-hover .phonering-alo-ph-circle-fill,
.phonering-alo-phone.phonering-alo-green:hover .phonering-alo-ph-circle-fill {
    background-color: rgba(39, 45, 107, 0.5);
    opacity: .75 !important
}

.phonering-alo-phone.phonering-alo-green .phonering-alo-ph-circle-fill {
    background-color: rgba(0, 175, 242, 0.5);
}

.phonering-alo-phone.phonering-alo-gray.phonering-alo-hover .phonering-alo-ph-circle-fill,
.phonering-alo-phone.phonering-alo-gray:hover .phonering-alo-ph-circle-fill {
    background-color: rgba(204, 204, 204, 0.5);
    opacity: .75 !important
}

.phonering-alo-phone.phonering-alo-gray .phonering-alo-ph-circle-fill {
    background-color: rgba(117, 235, 80, 0.5);
    opacity: .75 !important
}

.phonering-alo-ph-img-circle {
    width: 60px;
    height: 60px;
    top: 70px;
    left: 70px;
    position: absolute;
    background: url('/assets/images/icon-calendar.png') no-repeat center center;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

.phonering-alo-phone.phonering-alo-active .phonering-alo-ph-img-circle {
    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out !important;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out !important
}

.phonering-alo-phone.phonering-alo-static .phonering-alo-ph-img-circle {
    -webkit-animation: phonering-alo-circle-img-anim 0 infinite ease-in-out !important;
    animation: phonering-alo-circle-img-anim 0 infinite ease-in-out !important
}

.phonering-alo-phone.phonering-alo-hover .phonering-alo-ph-img-circle,
.phonering-alo-phone:hover .phonering-alo-ph-img-circle {
    background-color: #00aff2;
}

.phonering-alo-phone.phonering-alo-green.phonering-alo-hover .phonering-alo-ph-img-circle,
.phonering-alo-phone.phonering-alo-green:hover .phonering-alo-ph-img-circle {
    background-color: #272d6b;
}

.phonering-alo-phone.phonering-alo-green .phonering-alo-ph-img-circle {
    background-color: #00aff2;
}

.phonering-alo-phone.phonering-alo-gray.phonering-alo-hover .phonering-alo-ph-img-circle,
.phonering-alo-phone.phonering-alo-gray:hover .phonering-alo-ph-img-circle {
    background-color: #ccc;
}

.phonering-alo-phone.phonering-alo-gray .phonering-alo-ph-img-circle {
    background-color: #75eb50
}

@-webkit-keyframes phonering-alo-circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(.5) skew(1deg);
        -webkit-opacity: .1
    }
    30% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        -webkit-opacity: .5
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -webkit-opacity: .1
    }
}

@-webkit-keyframes phonering-alo-circle-fill-anim {
    0% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
}

@-webkit-keyframes phonering-alo-circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(.5) skew(1deg);
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@keyframes phonering-alo-circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(.5) skew(1deg);
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-webkit-keyframes phonering-alo-circle-fill-anim {
    0% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@keyframes phonering-alo-circle-fill-anim {
    0% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg)
    }
}