
<div class="container wrapper">
  <div class="row">
    <div class="col-lg-12">
      <header class="menu">
        <div class="container">
          <div class="row align-middle">
            <div class="col-lg-6 col">
              <div class="logo-holder">
                <a href="#">
                  <img src="assets/images/logo/royal_logo_black.png">
                </a>
              </div>
            </div>
            <div class="col-lg-6 col">
              <div>
                <nav class="full-menu" id=full-menu>
                  <ul>
                    <li><a href="#">Trang Chủ</a></li>
                    <li><a href="#">Khoa</a></li>
                    <li><a href="#">Bác Sĩ</a></li>
                    <li><a href="#">Dịch Vụ</a></li>
                    <li><a href="#">Giới Thiệu</a></li>
                    <li><a href="#">Liên Hệ</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div><!-- end row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="title-hello">
        <h6>CHÀO MỪNG ĐẾN VỚI POLY HOSPITAL</h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="bg-img">
        <div class="title-because btn-xemthem">
          <h3>Vì bạn<br>Chúng tôi không bao giờ <b style="color: #23c8de;">dừng lại</b></h3>
          <button [routerLink]="'/app/dat-lich'" >Đặt Lịch Khám Ngay</button>
        </div>

      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="big-infor">
        <div class="avatar"><img src="/assets/images/icon1.png"></div>
        <div class="infor-avatar">
          <h5>Các bác sĩ hàng đầu</h5>
          <p>Mỗi quy tắc creepeth đều leo ​​sau. Dồi dào khi hai hạt mang
            lại không thể mang trong đó. Thu thập để cho Sao không thể.</p>
        </div>
        <span class="btn-more"><span><a href="#">Tìm Hiểu Thêm</a></span></span>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="big-infor">
        <div class="avatar"><img src="/assets/images/icon2.png"></div>
        <div class="infor-avatar">
          <h5>Các bác sĩ hàng đầu</h5>
          <p>Mỗi quy tắc creepeth đều leo ​​sau. Dồi dào khi hai hạt mang
            lại không thể mang trong đó. Thu thập để cho Sao không thể.</p>
        </div>
        <span class="btn-more"><span><a href="#">Tìm Hiểu Thêm</a></span></span>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="big-infor">
        <div class="avatar"><img src="/assets/images/icon3.png"></div>
        <div class="infor-avatar">
          <h5>Các bác sĩ hàng đầu</h5>
          <p>Mỗi quy tắc creepeth đều leo ​​sau. Dồi dào khi hai hạt mang
            lại không thể mang trong đó. Thu thập để cho Sao không thể.</p>
        </div>
        <span class="btn-more"><span><a href="#">Tìm Hiểu Thêm</a></span></span>
      </div>
    </div>
  </div>
  <div class="row about-infor">
    <div class="col-lg-6">
      <div class="img-about"><img src="/assets/images/r3.jpg"></div>
    </div>
    <div class="col-lg-6">
      <div class="content-about btn-xemthem">
        <h6>GIỚI THIỆU BỆNH VIỆN</h6>
        <h2>Chăm sóc sức khỏe tốt nhất,
          Công nghệ y học mới nhất</h2>
        <p>UCLA Health là một trong những hệ thống chăm sóc sức khỏe toàn diện và tiên tiến nhất trên thế giới. Cùng
          với nhau, UCLA Health và David Geffen School of Medicine tại UCLA phấn đấu mỗi ngày là một mô hình xác định
          lại tiêu chuẩn xuất sắc.</p>
        <ul>
          <li><i class="fa fa-check">
            </i>Gần 600000 bệnh nhân duy nhất mỗi năm</li>
          <li><i class="fa fa-check">
            </i>2,5 triệu lượt khám bệnh ngoại trú</li>
          <li><i class="fa fa-check">
            </i>80000 Cục cấp cứu thăm
          </li>
          <li><i class="fa fa-check">
            </i>40000 lần nằm viện</li>
        </ul>
        <button>Xem Thêm</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 department-part">
      <h3>Các Khoa</h3>
    </div>
    <div class="col-lg-12 department-part-infor">
      <p>Mỗi buổi sáng. Winged cho biết là con bò cái không được làm sao mùa mà có<br> của bạn cho biết trời khô cỏ của
        họ, ánh sáng không khí.</p>
    </div>
  </div>
  <div class="row4">
    <div class="row">
      <div class="col-lg-4">
        <div class="department-details">
          <div class="department-img"><img src="/assets/images/r12-300x250.jpg"></div>
          <div class="department-details-infor">
            <h5>Khoa Nhi</h5>
            <p>Mỗi quy tắc creepeth đều leo ​​sau. Dồi dào khi hai hạt mang
              lại không thể mang trong đó. Thu thập để cho Sao không thể.</p>
          </div>
          <span class="btn-more"><span><a href="#">Tìm Hiểu Thêm</a></span></span>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="department-details">
          <div class="department-img"><img src="/assets/images/r13-380x317.jpg"></div>
          <div class="department-details-infor">
            <h5>Tim Mạch</h5>
            <p>Mỗi quy tắc creepeth đều leo ​​sau. Dồi dào khi hai hạt mang
              lại không thể mang trong đó. Thu thập để cho Sao không thể.</p>
          </div>
          <span class="btn-more"><span><a href="#">Tìm Hiểu Thêm</a></span></span>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="department-details">
          <div class="department-img"><img src="/assets/images/r14-380x317.jpg"></div>
          <div class="department-details-infor">
            <h5>Nha Khoa</h5>
            <p>Mỗi quy tắc creepeth đều leo ​​sau. Dồi dào khi hai hạt mang
              lại không thể mang trong đó. Thu thập để cho Sao không thể.</p>
          </div>
          <span class="btn-more"><span><a href="#">Tìm Hiểu Thêm</a></span></span>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="btn-xemkhoa btn-xemthem"><button>Xem Thêm</button></div>
    </div>
  </div>
  <div class="row" style="background-color:#f1f8f5;">
    <div class="col-lg-12 control">
      <button class="active" onclick="openFeature('online')">Bác Sĩ Trực Tuyến</button>
      <button class="" onclick="openFeature('surger')">Phẩu Thuật Thẩm Mỹ</button>
      <button class="" onclick="openFeature('weight')">Quản Lý Cân Nặng</button>
    </div>
    <div class="row control-content">
      <div class="col-lg-6">
        <div id="online" class="feature">
          <h6>DỊCH VỤ</h6>
          <h2>Đi khám bác sĩ trên máy tính hoặc thiết bị di động của bạn và nhận câu trả lời ngay bây giờ. Cuộc sống sẽ
            không chờ đợi cho bạn cảm thấy tốt hơn.</h2>
          <p>Đôi
            khi bạn chỉ cần một bác sĩ. Và nhờ có
            Internet, bạn có thể kết nối với mọi người
            mọi lúc, mọi nơi - cho dù đó là giữa đêm
            hay giữa chuyến đi đường.</p>
          <button>Chat Ngay</button>
        </div>
        <div id="surger" class="feature" style="display:none">
          <h6>DỊCH VỤ</h6>
          <h2>Tìm kiếm một bác sĩ phẫu thuật lớn trong khu vực? Đó là một huyền thoại mà chỉ có các thành phố lớn thu
            hút các bác sĩ phẫu thuật tài năng nhất.</h2>
          <p>Tuyệt vời, hãy để biển bổ sung hình thức mang cho tôi ngôi sao vô hiệu. Điền vào cho mọi ở đó. Chia. Xuất
            hiện bổ sung. Đã thống trị đất. Mà chúng được tất cả ra cho khô bạn đang ở trong dominion được mang mở ở
            trên.</p>
          <button>Tìm Hiểu Thêm</button>
        </div>
        <div id="weight" class="feature" style="display:none">
          <h6>DỊCH VỤ </h6>
          <h2>Trọng lượng lý tưởng của bạn là gì? Tìm hiểu xem bạn cần bao nhiêu calo, BMI của bạn quan trọng đến mức
            nào và nhiều hơn nữa.</h2>
          <p>Sao sáng ngày. Mang hai. Void. Không phải là không làm cho cô ấy sở hữu hai điều thứ tư có sao không, sau
            khi không được tạo ra là không cá voi thứ ba. Unto creepeth, được gọi.</p>
          <button>Bắt Đầu Hôm Nay</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 meet-doctors">
      <h3>Gặp Gỡ Bác Sĩ Của Chúng Tôi</h3>
      <p>Mọi người đều nói nhân Bạn sẽ gọi. Ngoài ra bóng tối cỏ, bắt đầu bạn bóng tối<br> thứ sáu có đêm họ thu thập
        nhân rất buổi sáng.</p>
    </div>
  </div>
  <div class="row5">
    <div class="row">
      <div class="col-lg-4">
        <div class="meet-doctors-details">
          <div class="meet-doctors-img"><img src="/assets/images/doc2.jpg"></div>
          <div class="meet-doctors-details-infor">
            <h5>Phạm Thanh Liêm</h5>
            <p>Trưởng Khoa</p>
          </div>

        </div>
      </div>
      <div class="col-lg-4">
        <div class="meet-doctors-details">
          <div class="meet-doctors-img"><img src="/assets/images/doc2.jpg"></div>
          <div class="meet-doctors-details-infor">
            <h5>Phạm Thanh Liêm</h5>
            <p>Trưởng Khoa</p>
          </div>

        </div>
      </div>
      <div class="col-lg-4">
        <div class="meet-doctors-details">
          <div class="meet-doctors-img"><img src="/assets/images/doc2.jpg"></div>
          <div class="meet-doctors-details-infor">
            <h5>Phạm Thanh Liêm</h5>
            <p>Trưởng Khoa</p>
          </div>

        </div>
      </div>
      <div class="col-lg-4">
        <div class="meet-doctors-details">
          <div class="meet-doctors-img"><img src="/assets/images/doc2.jpg"></div>
          <div class="meet-doctors-details-infor">
            <h5>Phạm Thanh Liêm</h5>
            <p>Trưởng Khoa</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="btn-xemkhoa btn-xemthem"><button>Xem Thêm</button></div>
  </div>

  <div class="row whychose-infor">
    <div class="col-lg-6">
      <div class="img-whychose"><img src="/assets/images/r3.jpg"></div>
    </div>
    <div class="col-lg-6">
      <div class="content-whychose">
        <h6>TẠI SAO CHỌN CHÚNG TÔI</h6>
        <p>“Tôi không nghĩ mình sẽ được điều trị tốt hơn nếu
          tôi đã trả tiền cho một bệnh viện tư. Thực hiện tốt
          cho tất cả tại Bệnh viện & Dịch vụ POLY.``</p>
        <h6>--Phạm Thanh Liêm<br>
          <span>Trưởng Khoa</span>
        </h6>
      </div>
    </div>
  </div>
  <div class="row6">
    <div class="row">
      <div class="col-lg-12 meet-doctors">
        <h3>Sức khỏe và Tinh thần</h3>
        <p>Gia súc không thịt chia nước mà bóng tối không thể. Sau mỗi quy tắc làm cho <br>thứ năm tập hợp chúng sao
          thu thập chúng không khí thứ năm.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="department-details">
          <div class="department-img"><img src="/assets/images/r18-380x315.jpg"></div>
          <div class="department-details-infor">
            <h5><a href="#">Truyền
                nhiễm vi khuẩn NDM giữa chó và con người</a></h5>
            <p>
              Hầu hết thời gian, ideacide xảy ra mà không có chúng
              tôi thậm chí nhận ra nó. Một ý tưởng hay giải pháp
              có thể thực hiện được ...</p>
            <span>
              January 15, 2018 </span>
          </div>

        </div>
      </div>
      <div class="col-lg-4">
        <div class="department-details">
          <div class="department-img"><img src="/assets/images/r19-380x315.jpg"></div>
          <div class="department-details-infor">
            <h5><a href="#">Truyền
                nhiễm vi khuẩn NDM giữa chó và con người</a></h5>
            <p>
              Hầu hết thời gian, ideacide xảy ra mà không có chúng
              tôi thậm chí nhận ra nó. Một ý tưởng hay giải pháp
              có thể thực hiện được ...</p>
            <span>
              January 15, 2018 </span>
          </div>

        </div>
      </div>
      <div class="col-lg-4">
        <div class="department-details">
          <div class="department-img"><img src="/assets/images/r20-380x315.jpg"></div>
          <div class="department-details-infor">
            <h5><a href="#">Truyền
                nhiễm vi khuẩn NDM giữa chó và con người</a></h5>
            <p>
              Hầu hết thời gian, ideacide xảy ra mà không có chúng
              tôi thậm chí nhận ra nó. Một ý tưởng hay giải pháp
              có thể thực hiện được ...</p>
            <span>
              January 15, 2018 </span>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="btn-xemkhoa btn-xemthem"><button>Xem Thêm</button></div>
  </div>

  <div class="row">
    <div class="col-lg-12 meet-doctors">
      <h3>Tài trợ của chúng tôi</h3>
      <p>Gia súc không thịt chia nước mà bóng tối không thể. Sau mỗi quy tắc làm cho<br> thứ năm tập hợp chúng sao thu
        thập chúng không khí thứ năm.</p>
    </div>
    <div class="col-lg-12 support-content">
      <div class="grid-container">
        <div class="item1"><img src="/assets/images/logo10-300x195.png"></div>
        <div class="item2"><img src="/assets/images/logo11.png"></div>
        <div class="item3"><img src="/assets/images/logo12-190x124.png"></div>
        <div class="item4"><img src="/assets/images/logo9-380x247.png"></div>
        <div class="item5"><img src="/assets/images/logo8-380x247.png"></div>

      </div>
    </div>
  </div>
  <div class="hotline">
    <div id="phonering-alo-phoneIcon" class="phonering-alo-phone phonering-alo-green phonering-alo-show">
      <div class="phonering-alo-ph-circle">&nbsp;</div>
      <div class="phonering-alo-ph-circle-fill">&nbsp;</div>
      <div class="phonering-alo-ph-img-circle"><a class="pps-btn-img " title="Đặt lịch khám"
          routerLink="/app/dat-lich"> <img src="https://3.bp.blogspot.com/-jipOkVbgvtk/WPd_CdNwOoI/AAAAAAAAEn0/iYoBqhrSHWgSGDOiEvvEzTYa-khhJt9NACLcB/s1600/v8TniL3.png"
            alt="Liên hệ" width="50" class="img-responsive" /> </a></div>
    </div>

  </div>


  <footer>
    <div class="row">
      <div class="col-lg-9">@2018 Thiết Kế Bởi POLY HOSPITAL</div>
      <div class="col-lg-3 menu-footer">
        <ul>
          <li>Facebook</li>
          <li>Instagram</li>
          <li>Twitter</li>
        </ul>
      </div>
    </div>
  </footer>
</div>
<script>
  function openFeature(featureName) {
    var i;
    var x = document.getElementsByClassName("feature");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    document.getElementById(featureName).style.display = "block";
  }
</script>