/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
// @import "/src/app/module/core/css/common.scss";
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none !important;
}

.icon-action {
    color: rgba($color: #000000, $alpha: 0.38);
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

*:focus {
    outline: none !important;
}

.bg-custom {
    background-color: #eef1f5;
}

.btn-custom {
    padding-left: 24px !important;
    padding-right: 24px !important;
    border-radius: 999px !important;
}
.btn-success  {
    background-color: #28a745 !important;
    color: #FFF;
}
mat-list-item {
    cursor: pointer;
}

.bg-custom-blue {
    background-color: #039be5;
    color: #fff;
    font-size: 16px;
    font-weight: 600 !important;
}

.btn-parent {
    padding-left: 30px !important;
    padding-right: 30px !important;
    border-radius: 999px !important;
}

.button-parent,
.button-child,
.button-child-border {
    background-color: #fff !important;
    &:hover {
        background-color: #f1f3f4 !important;
    }
}

.button-parent {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.87) !important;
    font-weight: 500 !important;
}

.button-child {
    color: rgba(0, 0, 0, 0.87) !important;
    border: 1px solid #e5e5e5 !important;
}

::ng-deep .mat-drawer-container {
    overflow-y: auto !important;
}

.avt {
    border-radius: 50%;
    object-fit: cover;
}

.avt-24 {
    width: 24px;
    height: 24px;
}

.avt-36 {
    width: 36px;
    height: 36px;
}

.avt-48 {
    width: 48px;
    height: 48px;
}

.avt-96 {
    width: 96px;
    height: 96px;
}

.icon {
    color: rgba($color: #000000, $alpha: 0.54) !important;
    margin-right: 4px !important;
}

.fz-18 {
    font-size: 18px !important;
}

.fz-20 {
    font-size: 20px !important;
}

.fw-500 {
    font-weight: 500;
}
@media print {
    body {
      visibility: hidden;
    }
    #ticket, #ticket * {
      visibility: visible;
    }
    #ticket {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  button {
      cursor: pointer !important;
  }
#recaptcha-container div div {
    margin: auto !important;
  }