<!-- <div class="container-fluid bg-reser">
  <div class="row mt-3" fxLayoutAlign="center start">
    <div class="col-md-8">
      <ng-container *ngIf="isRever; else confirm">
        <mat-card>
          <mat-card-header>
            <mat-card-title style="font-size: 20px" class="px-0">Đặt lịch khám</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ng-container>
              <form [formGroup]="checkoutForm" (ngSubmit)="submit()" #f="ngForm">
                
              </form>
            </ng-container>
          </mat-card-content>
        </mat-card>
      </ng-container>
      <ng-template #confirm>
        <div class="row" *ngIf="isConfirm">
    
          
        </div>
      

      </ng-template>
    </div>
  </div> -->

<mat-progress-bar mode="indeterminate" *ngIf="isLoading" style="position: absolute; top: 0; width: 100%;"></mat-progress-bar>
<mat-horizontal-stepper [linear]="true" #stepper class="px-5">

  <mat-step [stepControl]="checkoutForm">
    <form [formGroup]="checkoutForm" (ngSubmit)="submit()" #f="ngForm">
      <ng-template matStepLabel>Điền thông tin của bạn</ng-template>
      <div class="row " style="font-size: 16px !important">
        <div class="col-md-8 mx-auto">
          <div class="row">
            <div class="col-md-12 fw-500">
              <h3>Thông tin người khám</h3>
            </div>
            <div class="col-md-12">
              <mat-form-field class="w-100">
                <input matInput placeholder="Họ và tên" formControlName="displayName" required>
              </mat-form-field>
            </div>

            <div class="col-md-7">
              <mat-form-field class="w-100">
                <input (click)="picker.open()" matInput [max]="maxDate" [matDatepicker]="picker" placeholder="Chọn ngày sinh"
                  formControlName="birthday" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-md-5" fxLayout="column">
              <mat-form-field>
                <mat-select placeholder="Giới tính" formControlName="gender" required>
                  <mat-option value="Nam">Nam </mat-option>
                  <mat-option value="Nữ">Nữ </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-7">
              <mat-form-field class="w-100">
                <input matInput (click)="date.open()" [min]="minDate" [matDatepicker]="date" placeholder="Ngày khám bệnh"
                  formControlName="date" required>
                <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                <mat-datepicker #date></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-5">
              <mat-form-field>
                <mat-select placeholder="Chọn khoa khám bệnh" formControlName="departmentName" required>
                  <mat-option *ngFor="let depar of (derpartments$ | async)" [value]="depar.data.name">
                    {{depar.data.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field>
                <textarea matTextareaAutosizes matInput placeholder="Mô tả tình trạng sức khỏe của bạn" formControlName="healthStatus"
                  required></textarea>
              </mat-form-field>
            </div>
            <div class="col-md-12 fw-500">
              <h3>Thông tin liên hệ</h3>
            </div>
            <div class="col-md-7">
              <mat-form-field class="w-100">
                <input matInput placeholder="Email" formControlName="email" type="email" required>
              </mat-form-field>
            </div>
            <div class="col-md-5">
              <mat-form-field class="w-100">
                <input matInput placeholder="Số điện thoại" formControlName="phoneNumber" type="text" required>
              </mat-form-field>
            </div>


            <div class="col-md-12">
              <mat-form-field class="w-100">
                <input matInput placeholder="Địa chỉ" formControlName="address" required type="text">
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <div class="text-right w-100">
                <button mat-flat-button matStepperNext [disabled]="f.invalid">Đặt lịch</button>
              </div>
            </div>

          </div>
        </div>
      </div>


    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Xác nhận thông tin</ng-template>
    <div class="col-8 mx-auto" fxLayoutAlign="center start">
      <mat-card class="w-100" style="box-shadow: none">

        <div class="fw-500">
          <h3>Vui lòng xác nhận lại đơn đặt lịch</h3>
        </div>
        <mat-card-content>
          <table class="table table-hover">
            <tbody>
              <tr>
                <th scope="row">Họ và tên</th>
                <td>{{checkoutForm.value.displayName}}</td>
              </tr>
              <tr>
                <th scope="row">Ngày sinh</th>
                <td>{{checkoutForm.value.birthday | date:('dd/MM/yyyy')}}</td>
              </tr>
              <tr>
                <th scope="row">Giới tính</th>
                <td>{{checkoutForm.value.gender}}</td>
              </tr>
              <tr>
                <th scope="row">Ngày khám</th>
                <td>{{checkoutForm.value.date | date:('dd/MM/yyyy')}}</td>
              </tr>

              <tr>
                <th scope="row">Khoa khám bệnh</th>
                <td>{{checkoutForm.value.departmentName}}</td>
              </tr>
              <tr>
                <th scope="row">Tình trạng sức khỏe</th>
                <td>{{checkoutForm.value.healthStatus}}</td>
              </tr>
              <tr>
                <th scope="row">Địa chỉ</th>
                <td>{{checkoutForm.value.address}}</td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td>{{checkoutForm.value.email}}</td>
              </tr>
              <tr>
                <th scope="row">Số điện thoại</th>
                <td>{{checkoutForm.value.phoneNumber}}</td>
              </tr>
            </tbody>
          </table>
          <div class="text-right">
            <button mat-button matStepperPrevious>Trở lại</button>
            <button mat-raised-button matStepperNext color="primary" (click)="checkOut()">Xác nhận</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>


  </mat-step>
  <mat-step>

    <ng-template matStepLabel>Hoàn thành</ng-template>

    <ng-container *ngIf="afterOrder">
      <div id="ticket">
        <p class="bg-success p-2 text-light">Chúc mừng bạn đã dặt lịch thành công! Chúng tôi sẽ gọi để xác nhận cho
          bạn trong thời gian sớm nhất!</p>
        <mat-card>
          <mat-card-content>
            <h1 class="fz-20 fw-500 text-center w-100 mt-2">Vé của bạn</h1>
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th scope="row">Số thứ tự</th>
                  <td>{{afterOrder.orderNumber}}</td>
                </tr>
                <tr>
                  <th scope="row">Họ và tên</th>
                  <td>{{afterOrder.displayName}}</td>
                </tr>
                <tr>
                  <th scope="row">Ngày khám</th>
                  <td>{{afterOrder.date | date:('dd/MM/yyyy')}}</td>
                </tr>
                <tr>
                  <th scope="row">Địa chỉ</th>
                  <td>{{afterOrder.address}}</td>
                </tr>
                <tr>
                  <th scope="row">Khoa</th>
                  <td>{{afterOrder.department}}</td>
                </tr>
                <tr>
                  <th scope="row">Giới tính</th>
                  <td>{{afterOrder.gender}}</td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
          <div fxLayoutAlign="center center">
            <button mat-raised-button color="primary" (click)="printTicket()">In Vé</button>
          </div>
        </mat-card>
      </div>
    </ng-container>
  </mat-step>
</mat-horizontal-stepper>